@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* Colors */
	--bg: #000a2d;
	--auth-bg: #010d39;
	--text: #e6e6e6;
	--border: #014b69;
	--shadow1: #032b53;
	--shadow2: #010119;
	--user: #c0c0c0;
}

body {
	font-family: "poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	background: var(--bg);
	color: var(--text);
}
#foobar {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	font-size: 13px;
	justify-content: center;
	align-items: center;
	user-select: none;
	position: absolute;
	bottom: 0;
}
